<div>
	<h2 class="<%= color %>-text"><%= title %></h2>
	<form>
		<% if (image_question) { %>
			
			<div class="file-field">
				<p><%= image_question %></p>
				<label for="fileChooser"><span class="btn">TAKE PICTURE</span></label>
				<input id="fileChooser" name='file' type="file" style="display:none"/>
				<div id="filepath"></div>
			</div>
		<% } %>
		<% if (text_question) { %>
			<div class="input-field">
				<p><label for="textInput"><%= text_question %></label></p>
				<textarea id="textInput" placeholder="Type text here."></textarea>
	        </div>
		<% } %>
		<div>
			<a href="#!" class="btn small left" id="cancelButton">CANCEL</a>
			<a href="#!" class="btn small right <%= color %>" id="submitButton">SUBMIT</a>
		</div>
	</form>
</div>